<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/img/icon.png">
    <title>车辆管理平台</title>
    <meta charset="UTF-8">
    <!--<link href="/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/layui/css/layui.css">

    <script type="text/javascript" src="/js/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/js/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="/js/xcConfirm.js"></script>
    <script type="text/javascript" src="/layui/layui.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/user.js"></script>

</head>
<body>
<!--搜索框-->
<form class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">手机号码</label>
            <div class="layui-input-block">
                <input type="text" name="mobile" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">用户类型</label>
            <div class="layui-input-block">
                <select name="type" lay-filter="userType">
                    <option value="">全部</option>
                    <option value="1">管理员</option>
                    <option value="2">用车人员</option>
                    <option value="3">司机</option>
                    <option value="4">普通用户</option>
                    <option value="10">其他</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <button class="layui-btn" lay-submit lay-filter="data-search-btn">搜索</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<!---表头操作--->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
    </div>
</script>

<table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
<script type="text/html" id="currentTableBar">
    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="role">角色权限</a>
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="del">删除</a>
</script>
    <table id="user" lay-filter="user" ></table>

<!--添加用户-->
<form class="layui-form" lay-filter="user-from" style="padding-top:20px" id ="user-from" hidden="true"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
    <input type="text" name="id" class="layui-hide">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label required">姓名:</label>
            <div class="layui-input-block">
                <input type="text" name="name" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">性别:</label>
            <div class="layui-input-block">
                <select name="sex">
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">年龄:</label>
            <div class="layui-input-block">
                <input type="text" name="age" lay-verify="number" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="2">
            </div>
        </div>

    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">用户类型:</label>
            <div class="layui-input-block">
                <select name="type" required lay-verify="required" lay-filter="userType">
                    <option value="1">管理员</option>
                    <option value="2">用车人员</option>
                    <option value="3">司机</option>
                    <option value="4">普通用户</option>
                    <option value="10">其他</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">手机号码:</label>
            <div class="layui-input-block">
                <input type="text" name="mobile" required lay-verify="required|phone" placeholder="请输入" autocomplete="off" class="layui-input" oninput="if(value.length>5)value=value.slice(0,11)" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="11">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">身份证号码:</label>
            <div class="layui-input-block">
                <input type="text" name="idNo" required lay-verify="required|identity" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="18">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">部门:</label>
            <div class="layui-input-block">
                <input type="text" name="department" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">职务:</label>
            <div class="layui-input-block">
                <input type="text" name="duty" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">岗位:</label>
            <div class="layui-input-block">
                <input type="text" name="post" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">头像:</label>
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="headbtn">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
            <div class="layui-hide" id="head_route">
                <!--<hr>-->
                <img src="" alt="图片未找到" style="max-width: 196px">
            </div>
            <input type="hidden" id="headUrl" name="headUrl" value="">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button id="savebtn" class="layui-btn" lay-submit lay-filter="save-btn">保存</button>
        </div>
    </div>
</form>

<!--角色授权-->
<form class="layui-form" lay-filter="rolefrom" style="padding-top:20px" id ="rolefrom" hidden="true">
    <input type="text" name="id" class="layui-hide">
    <div class="layui-form-item">
        <label class="layui-form-label">角色授权</label>
        <div class="layui-input-block" id="rolecheckbox">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button id="rolebtn" class="layui-btn" lay-submit lay-filter="rolebtn">保存</button>
        </div>
    </div>
</form>
</body>
</html>