<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/img/icon.png">
    <title>车辆管理平台</title>
    <meta charset="UTF-8">
    <!--<link href="/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/layui/css/layui.css">

    <script type="text/javascript" src="/js/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/js/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="/js/xcConfirm.js"></script>
    <script type="text/javascript" src="/layui/layui.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/vehicle.js"></script>

</head>
<body>
<!--搜索框-->
<form class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">车牌号</label>
            <div class="layui-input-block">
                <input type="text" name="plateNo" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">车辆类型</label>
            <div class="layui-input-block">
                <select id ="vehicleTypeId4searchselect" name="vehicleTypeId" lay-filter="vehicleTypeId4search">
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">车辆状态</label>
            <div class="layui-input-block">
                <select name="state" lay-filter="state">
                    <option value="">全部</option>
                    <option value="0">未出车</option>
                    <option value="1">已出车</option>
                    <option value="2">保养中</option>
                    <option value="3">维修中</option>
                    <option value="4">已停运</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <button class="layui-btn" lay-submit lay-filter="data-search-btn">搜索</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<!---表头操作--->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加</button>
    </div>
</script>

<table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
<script type="text/html" id="currentTableBar">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="del">删除</a>
</script>
<table id="vehicle" lay-filter="vehicle"></table>

<!--添加车辆-->
<form class="layui-form" lay-filter="vehiclefrom" style="padding-top:20px" id="vehiclefrom" hidden="true">
    <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
    <input type="text" name="id" class="layui-hide">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label required">车牌号:</label>
            <div class="layui-input-block">
                <input type="text" name="plateNo" required lay-verify="required|plateNo" placeholder="请输入"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">车辆类型：</label>
            <div class="layui-input-block">
                <select id ="vehicleTypeId4addselect" name="vehicleTypeId" required lay-verify="required" lay-filter="vehicleTypeId4add">
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">车辆状态:</label>
            <div class="layui-input-block">
                <select name="state" required lay-verify="required" lay-filter="state">
                    <option value="0">未出车</option>
                    <option value="1">已出车</option>
                    <option value="2">保养中</option>
                    <option value="3">维修中</option>
                    <option value="4">已停运</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button id="savebtn" class="layui-btn" lay-submit lay-filter="savebtn">保存</button>
        </div>
    </div>
</form>

<!--查看车辆-->
<form class="layui-form" lay-filter="vehicleview" style="padding-top:20px" id="vehicleview" hidden="true">
    <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
    <input type="text" name="id" class="layui-hide">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label required">车牌号:</label>
            <div class="layui-input-block">
                <input type="text" name="plateNo" required lay-verify="required" placeholder=""
                       autocomplete="off" class="layui-input" disabled>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">车辆类型：</label>
            <div class="layui-input-block">
                <input type="text" name="vehicleTypeName" required lay-verify="required" placeholder=""
                       autocomplete="off" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">车辆状态:</label>
            <div class="layui-input-block">
                <input type="text" name="stateName" required lay-verify="required" placeholder=""
                       autocomplete="off" class="layui-input" disabled>
            </div>
        </div>
    </div>
</form>
</body>
</html>