<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/img/icon.png">
    <title>车辆管理平台</title>
    <meta charset="UTF-8">
    <!--<link href="/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link href="/css/index.css" rel="stylesheet">

    <script type="text/javascript" src="/js/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/js/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="/js/xcConfirm.js"></script>
    <script type="text/javascript" src="/layui/layui.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>

</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">车辆管理平台</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <div  class="layui-nav layui-layout-left ">
        <ul>
            <!-- 移动端显示 -->
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                <i class="layui-icon layui-icon-spread-left"></i>
            </li>

            <!--<li class="layui-nav-item layui-hide-xs"><a href="">首页</a></li>-->

        </ul></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;">
                    <img id="head_img" src="" class="layui-nav-img">
                    <span id="username"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd onclick="logout()"><a>退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-more-vertical"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul id = "menu" class="layui-nav layui-nav-tree" lay-filter="test">
                <!--<li class="layui-nav-item layui-nav-itemed">-->
                    <!--<a class="" href="javascript:;">menu group 1</a>-->
                    <!--<dl class="layui-nav-child">-->
                        <!--<dd><a href="javascript:;">menu 1</a></dd>-->
                        <!--<dd><a href="javascript:;">menu 2</a></dd>-->
                        <!--<dd><a href="javascript:;">menu 3</a></dd>-->
                        <!--<dd><a href="">the links</a></dd>-->
                    <!--</dl>-->
                <!--</li>-->
                <!--<li class="layui-nav-item">-->
                    <!--<a href="javascript:;">menu group 2</a>-->
                    <!--<dl class="layui-nav-child">-->
                        <!--<dd><a href="javascript:;">list 1</a></dd>-->
                        <!--<dd><a href="javascript:;">list 2</a></dd>-->
                        <!--<dd><a href="">超链接</a></dd>-->
                    <!--</dl>-->
                <!--</li>-->
                <!--<li class="layui-nav-item"><a href="javascript:;">click menu item</a></li>-->
                <!--<li class="layui-nav-item"><a href="">the links</a></li>-->
            </ul>
        </div>
    </div>

    <!--<div class="layui-body">-->
        <!--<iframe frameborder="0" scrolling="yes" style="width: 100%" src="" id="aa">-->
        <!--</iframe>-->
    <!--</div>-->
    <div class="layui-body" style="padding: 15px;">
            <div class="layui-tab" lay-filter="openTab" lay-allowclose="true">
                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="-1">首页</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe frameborder="0" src="/pages/home" scrolling="auto" style="width:100%;height:100%;"></iframe>
                    </div>
                </div>
            </div>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        欢迎进入车辆管理平台
    </div>
</div>
</body>
</html>